
@media (max-width: 900px) {
	.top-bar-component .top-bar {
	  display: none;
	}
  }



  @media (max-width: 1000px) {
	.top-bar-component .search-bar {
		max-width: 300px;
	  }
	
	  .top-bar-middle {
		max-width: 300px;
	  }
  }

  