
.notepad-page {
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: var(--color-bg);
	box-sizing: border-box;
}
  
.notepad-page .notepad-textarea {
	flex: 1;
	background-color: var(--color-bg);
	color: var(--color-black);
	border: none;
	outline: none;
	font-size: 1.1rem;
	box-sizing: border-box;
	overflow-y: auto;
	padding-top: 10px;
	padding-right: 20px;
	margin-left: -10px;
}

.notepad-page .ql-container {
	height: calc(100vh - 200px);
}
  
