/* tooltip.css */

.reservations-page .extra-column {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: relative;
  }
  
  .reservations-page .icons-container {
	display: flex;
	align-items: center;
  }
  
  .reservations-page .ellipsis-container,
  .reservations-page .extra-icon-container {
	position: relative;
	margin-left: 8px; /* Adds space between icons */
  }
  
  .reservations-page .ellipsis-icon,
  .reservations-page .extra-icon {
	color: #a6a6a6; /* Same color for both icons */
	cursor: pointer;
	font-size: 16px; /* Adjust size as needed */
  }
  
  /* Tooltip for Actions (Bewerken & Verwijderen) */
  .reservations-page .tooltip-container {
	position: absolute;
	bottom: 100%;
	right: 0;
	transform: translateY(-10px);
	background-color: white;
	border: 1px solid lightgray;
	border-radius: 5px;
	padding: 5px 0;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
	z-index: 1000;
  }
  
  .reservations-page .tooltip-item {
	display: flex;
	align-items: center;
	padding: 8px 15px;
	cursor: pointer;
  }
  
  .reservations-page .tooltip-item:hover {
	background-color: #f0f0f0;
  }
  
  .reservations-page .tooltip-icon {
	margin-right: 8px;
  }
  
  .reservations-page .tooltip-item.delete-item {
	color: red;
  }
  
  .reservations-page .tooltip-item.delete-item .tooltip-icon {
	color: red;
  }
  
  .reservations-page .tooltip-separator {
	height: 1px;
	background-color: lightgray;
	margin: 5px 0;
  }
  
  /* Tooltip for Extra Info */
  .reservations-page .extra-tooltip {
	position: absolute;
	bottom: 100%;
	left: 50%;
	transform: translateX(-50%) translateY(-10px);
	background-color: #333;
	color: #fff;
	padding: 6px 10px;
	border-radius: 4px;
	white-space: nowrap;
	font-size: 12px;
	z-index: 1000;
	opacity: 0.9;
	max-width: 200px !important;
	text-wrap: wrap;
  }
  
  .reservations-page .extra-tooltip::after {
	content: '';
	position: absolute;
	top: 100%; /* At the bottom of the tooltip */
	left: 50%;
	transform: translateX(-50%);
	border-width: 5px;
	border-style: solid;
	border-color: #333 transparent transparent transparent; /* Arrow pointing down */
  }
  

  /* Attention */
  /* Don't add a prefix class here */
  a.no-style { 
    text-decoration: none;
    color: inherit;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    display: block;
    cursor: default;
    font: inherit;
}


.reservations-page .extra-info-print {
	display: none !important;
  }