/* ./css/viewModeSelector.css */

.calendar-page .view-mode-selector {
	position: relative;
	display: inline-block;
	margin-right: 10px;
  }
  
  .calendar-page .view-mode-button {
	display: flex;
	align-items: center;
  }
  
  .calendar-page .view-mode-button-icon {
	margin-right: 5px;
  }
  
  .calendar-page .view-mode-options-container {
	position: absolute;
	top: 50px;
	right: 0;
	background-color: #ffffff;
	border: 1px solid #ccc;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	z-index: 1000;
	width: 220px;
	padding: 10px 0;
  }
  
  .calendar-page .view-mode-option {
	padding: 10px 20px;
	cursor: pointer;
	transition: background-color 0.3s ease;
  }
  
  .calendar-page .view-mode-option:hover {
	background-color: #f1f1f1;
  }
  