/* src/components/FormSettings/css/backgroundTypeSelector.css */

.form-settings-page .background-type-selector {
	margin-bottom: 20px;
  }
  
  .form-settings-page .background-type-selector label {
	display: block;
	margin-bottom: 5px;
	font-weight: 500;
  }
  
  .form-settings-page .background-type-options {
	display: flex;
	width: 100%;
  }
  
  .form-settings-page .background-type-option {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	margin: 5px;
	border: 2px solid #ccc;
	border-radius: 5px;
	cursor: pointer;
	background-color: white;
	transition: border-color 0.3s;
	text-align: center;
  }
  
  .form-settings-page .background-type-option.selected {
	border-color: var(--color-blue);
  }
  
  .form-settings-page .icon-container {
	margin-bottom: 10px;
  }
  
  .form-settings-page .option-label {
	font-size: 14px;
  }
  